<%- include layouts/header.ejs %>

    <div class="page-data">
        <div class="data-btn row">
            <button onClick="addParkingTicket();">+ Add</button>
        </div>
        <div class="data-table">

            <table border="1" cellpadding="7" cellspacing="7">
                <tr>
                    <th width="50px">No</th>
                    <th>Lot</th>
                    <th>Spot</th>
                    <th>Vehicle Number</th>
                    <th>Type</th>
                    <th>Start</th>
                    <th width="120px">Action</th>
                </tr>

                <% if(data.length){ 
                                
                 for(var i = 0;i < data.length;i++) { %>

                    <tr>
                        <td>
                            <%=(i+1)%>
                        </td>
                        <td>
                            <%=data[i].parking_lot_id%>
                        </td>
                        <td>
                            <%=data[i].parking_spot_id%>
                        </td>
                        <td>
                            <%=data[i].vehicle_number%>
                        </td>
                        <td>
                            <%=data[i].parking_spot_type%>
                        </td>
                        <td>

                            <%=data[i].issue_time%>


                        </td>
                        <td>
                            <a class="a-inside edit" href="../parkingtickets/edit/<%=data[i].id%>">Edit</a>

                            <a class="a-inside delete" href="../parkingtickets/delete/<%=data[i].id%>">Delete</a>

                        </td>
                    </tr>
                    <% }
            
             }else{ %>
                        <tr>
                            <td colspan="3">No vehicle</td>
                        </tr>
                        <% } %>



            </table>
        </div>
    </div>

    <%- include layouts/footer.ejs %>